/* Inicia estilo de navbar/header */

* {
    font-family: "Comic Neue", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
h2 {
    font-size: 700;
}
p {
    font-size: 500;
}
#header_navabar_id {
    font-size: x-large;
    font-weight: 700;
}
.header .navbar {
    background-color: transparent !important
}
#svg_navbar {
    width: 25px;
}
@media screen and (max-width: 577px) {
    #quienessomos_id {
        display: none;
    }
}
@media screen and (max-width: 577px) {
    #allcards_id {
        display: flex;
    }
}
#mainid {
    background-color: black;
    color: white;
}
.div_icon {
    background-color: aquamarine;
    height: 55px;
}
i {
    color: white;
}
.card {
    height: 100%; /* Establece una altura del 100% */
    background-color: aquamarine;
    border-width: 1px;
    border-color: white;
  }
  .custom-tooltip1 {
    --bs-tooltip-bg: #373A3C;
    --bs-tooltip-color: #FFFFFF;
}
  footer {
    background-color: aquamarine;
    color: white;
    height: 100px;
  }
