/* Inicia estilo de navbar/header */
/* .header {
    background: url(../img/carousel1.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
} */
#header_navabar_id {
    color: white;
}
.header .navbar {
    background-color: transparent !important
}
#svg_navbar {
    width: 25px;
}
@media screen and (max-width: 577px) {
    #quienessomos_id {
        display: none;
    }
}
@media screen and (max-width: 577px) {
    #allcards_id {
        display: flex;
    }
}
#mainid {
    background-color: black;
    color: white;
}
.div_icon {
    background-color: aquamarine;
    height: 55px;
}
i {
    color: white;
}
.card {
    height: 100%; /* Establece una altura del 100% */
    background-color: aquamarine;
    border-width: 1px;
    border-color: white;
  }
  footer {
    background-color: aquamarine;
    color: white;
    height: 50px;
  }
